* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1 {
  color: red;
  margin: 30px;
}

h2 {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

.bar {
  background-color: yellow;
}

button a {
  color: white;
}

.delete {
  color: red;
  background-color: black;
  border-radius: 5px;
}

.edit {
  color: dodgerblue;
  background-color: black;
  border-radius: 5px;
  margin-right: 10px;
}

.imput {
  width: 100px;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.movie-card {
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  margin: 5px auto;
  height: 200px;
  width: 200px;
}

.Navlink {
  color: black;
}

.sign {
  background-color: dodgerblue;
  border-radius: 8px;
  color: white;
  height: 35px;
  width: 80px;
}
