/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* General styling */

html {
  font-size: 62.5%;
}
.bar {
  background-color: yellow;
  width: 100%;
  z-index: 1;
}
.bar nav {
  display: flex;
  justify-content: space-between;
}
.bar h1 {
  color: dodgerblue;
  margin: 1% 2%;
  font-weight: bold;
}
.site-button {
  background-color: dodgerblue;
  border-radius: 7px;
  color: white;
  width: 12%;
  text-decoration: none;
}
.site-button:hover {
  background-color: black;
  color: dodgerblue;
  text-decoration: none;
}

/* Register */

.register {
  background-image: url(images/register.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding: 150px;
}
.register-button:hover {
  background-color: black;
  color: dodgerblue;
  text-decoration: none;
}

/* Login Page */

.form {
  width: 300px;
  margin: 0 auto;
}

.loginCard {
  background-color: black;
  width: 330px;
  height: 300px;
  margin: 0 auto;
}
.loginCont {
  background-image: url(images/bmovie.jpeg);
  height: 700px;
  padding: 150px;
}

h2 {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  margin: 30px;
}

.title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
}

button a {
  color: white;
}

.imput {
  width: 100px;
}

/* Home Page */

.h1 {
  color: yellow;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
}

.home {
  background-image: url(images/homePic.webp);
  width: 100%;
  display: block;
}

.movies {
  display: flex;
  justify-content: space-evenly;
}

.delete {
  color: white;
  background-color: red;
  border-radius: 5px;
}

.edit {
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  margin-right: 10px;
}

.movie-card {
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  opacity: 0.9;
}

/* AddMovie Page */

.addMovie {
  background-color: dodgerblue;
  height: 700px;
}

.addCard {
  margin-top: 100px;
}

.title1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 700;
}

/* Edit Page */

.editPage {
  background-color: dodgerblue;
  height: 700px;
}

.editForm {
  width: 300px;
  margin: 100px auto;
}

#editInput {
  border: 2px solid black;
}
