* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/*
Register
*/

.register {
  background-image: url(images/register.jpg);
  height: 700px;
  padding: 150px;
}

.signB {
  background-color: dodgerblue;
  border-radius: 8px;
  color: white;
  height: 35px;
  width: 80px;
  text-decoration: none;
}

/*
Login Page
*/

.form {
  width: 300px;
  margin: 0 auto;
}

.loginCont {
  background-image: url(images/bmovie.jpeg);
  height: 700px;
  padding: 150px;
}

h2 {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  font-weight: 700;
  font-display: ;
}

.bar {
  background-color: yellow;
}

button a {
  color: white;
}

.imput {
  width: 100px;
}

/*
Home Page
*/

.h1 {
  color: red;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 1000;
}

.home {
  background-image: url(images/homePic.webp);
  width: 100%;
  display: block;
}
.movies {
  display: flex;
  justify-content: space-evenly;
}

.delete {
  color: white;
  background-color: red;
  border-radius: 5px;
}

.edit {
  color: white;
  background-color: dodgerblue;
  border-radius: 5px;
  margin-right: 10px;
}

.movie-card {
  background-color: white;
  width: 300px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  opacity: 0.9;
}
